RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

# Permanent redirects
Redirect 301 /exhibition-stand-builder-in-berlin/ /blogs/exhibition-stand-builder-in-berlin/
Redirect 301 /stand-design-company-germany/ /blogs/stand-design-company-germany/

# Custom 404 handling
RewriteCond %{REQUEST_URI} !^/404/index\.html$ [NC]   # Prevents infinite loop for 404 page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /404/index.html [L]

